<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">

                <div class="justify-content-center">
                    <h1>Welcome to CarService:</h1>
                </div>

                <a href="/sign/up" class="btn btn-link mt-3">Нет аккаунта? Зарегистрируйтесь!</a>

                <form th:action="@{/sign/in}"
                      th:method="post"
                      class="m-md-auto w-50 pb-3">
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input id="username"
                               name="username"
                               th:value="${username}"
                               type="text" class="form-control text-center"aria-describedby="usernameHelp"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input id="password"
                               name="password"
                               type="password" class="form-control text-center" aria-describedby="passwordHelp"/>
                    </div>

                    <p class="text-danger" th:if="${badCredentials}">
                        Invalid username or password.
                    </p>

                    <button type="submit" class="btn btn-secondary">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>