<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница веб-приложения</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <h1>Главная страница веб-приложения</h1>
    <button class="sign-in-button" onclick="location.href='/signin'">Войти</button>
</header>

<div class="container">
    <div class="search-section">
        <form id="searchForm">
            <label for="searchInput">Search settings:</label>
            <input type="text" id="searchInput" name="query" placeholder="Введите запрос">
            <button type="button" onclick="performSearch()">Search</button>
        </form>
    </div>

    <h2>Популярные бренды</h2>
    <div class="popular-brands">
        <div id="brandsList" class="scrollable-list">
            <ul>
                <!-- Список брендов будет здесь -->
                <li th:each="brand : ${popularBrands}">
                    <span th:text="${brand.name}">Brand Name</span>
                </li>
            </ul>
        </div>
    </div>

    <h2>Популярные модели</h2>
    <div class="popular-models">
        <div id="modelsList" class="scrollable-list">
            <ul>
                <!-- Список моделей будет здесь -->
                <li th:each="model : ${popularModels}">
                    <span th:text="${model.name}">Model Name</span>
                </li>
            </ul>
        </div>
    </div>

    <button class="add-offer-button" onclick="location.href='/addoffer'">Добавить предложение</button>
</div>

<script src="/js/script.js"></script>
</body>
</html>

