<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница веб-приложения</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <h1>Главная страница веб-приложения</h1>
    <button class="sign-in-button" onclick="location.href='/signin'">Войти</button>
</header>

<div class="search-container">
    <input type="text" id="searchInput" placeholder="Введите запрос">
    <button onclick="performSearch()">Поиск</button>
</div>


<div class="container">
    <!-- Основной блок для вывода предложений -->
    <div class="search-settings">
        <h2>Настройки поиска:</h2>
        <div class="search-block">
            <h3>Таблица для поиска:</h3>
            <label><input type="radio" name="searchEntity" value="offer" checked> Предложения</label>
            <label><input type="radio" name="searchEntity" value="brand"> Бренды</label>
            <label><input type="radio" name="searchEntity" value="model"> Модели</label>
        </div>
        <div class="search-block" id="search-criteria">
            <h3>Критерии поиска:</h3>
            <div id="criteria-offer" class="criteria">
                <label><input type="radio" name="searchCriteria" value="position"> Поиск по позиции</label>
                <label><input type="radio" name="searchCriteria" value="username"> Поиск по юзернейму продавца</label>
                <label><input type="radio" name="searchCriteria" value="price"> Поиск по цене</label>
                <label><input type="radio" name="searchCriteria" value="positionPrice"> Поиск позиции и цене</label>
            </div>
            <div id="criteria-brand" class="criteria" style="display: none;">
                <label><input type="radio" name="searchCriteria" value="brandName"> Поиск по названию бренда</label>
            </div>
            <div id="criteria-model" class="criteria" style="display: none;">
                <label><input type="radio" name="searchCriteria" value="modelPosition"> Поиск по позиции</label>
                <label><input type="radio" name="searchCriteria" value="characteristics"> Поиск по характеристикам</label>
                <label><input type="radio" name="searchCriteria" value="brandYear"> Поиск по бренду и годам выпуска</label>
            </div>
        </div>
    </div>
    <div class="offers-section">
        <!-- Итерация по списку предложений с использованием Thymeleaf -->
        <div th:each="offer : ${offers}" class="offer">
            <!-- Контент предложения -->
            <img th:src="${offer.imageUrl}" alt="Image of Car" th:alt="${'Image of ' + offer.modelName}">
            <div class="offer-details">
                <h3 th:text="${offer.brandName + ' ' + offer.modelName}">Brand Model</h3>
                <p th:text="${offer.description}">Description</p>
                <p>Engine: <span th:text="${offer.engine}">Engine Type</span></p>
                <p>Mileage: <span th:text="${offer.mileage}">Mileage</span></p>
                <p>Price: <span th:text="${offer.price}">Price</span></p>
                <p>Transmission: <span th:text="${offer.transmission}">Transmission Type</span></p>
                <p>Year: <span th:text="${offer.year}">Year</span></p>
                <p>Seller: <span th:text="${offer.sellerUsername}">Seller Username</span> (Active: <span th:text="${offer.isActive}">Active Status</span>)</p>
            </div>
            <button class="edit-offer">Edit</button>
        </div>
    </div>



    <!-- Блоки для популярных брендов и моделей -->
    <div class="sidebar">
        <h2>Популярные бренды</h2>
        <div class="popular-brands">
            <div id="brandsList" class="scrollable-list">
                <ul>
                    <!-- Список брендов будет здесь -->
                    <li th:each="brand : ${popularBrands}">
                        <span th:text="${brand.name}">Brand Name</span>
                    </li>
                </ul>
            </div>
        </div>

        <h2>Популярные модели</h2>
        <div class="popular-models">
            <div id="modelsList" class="scrollable-list">
                <ul>
                    <!-- Список моделей будет здесь -->
                    <li th:each="model : ${popularModels}">
                        <span th:text="${model.name}">Model Name</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<button class="add-offer-button" onclick="location.href='/addoffer'">Добавить предложение</button>
<script src="/js/script.js"></script>
</body>
</html>


