<!DOCTYPE html>
<html lang="en" class="h-100"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
                <!-- Изображение пользователя с рамкой -->
                <div class="border border-secondary rounded-circle overflow-hidden" style="width: 250px; height: 250px;">
                    <img th:src="${user.imageUrl}" alt="Profile Image" class="img-fluid" style="width: 250px; height: 250px;">
                </div>
            </div>
            <div class="col-md-9">
                <!-- Информация о пользователе в рамке -->
                <div class="border border-secondary rounded p-4">
                    <h2 class="mb-3">User Profile</h2>
                    <h4 th:text="'Username: ' + ${user.username}"></h4>
                    <h4 th:text="'Name: ' + ${user.firstName} + ' ' + ${user.lastName}"></h4>
                    <h4 th:text="'Role: ' + ${user.role}"></h4>
                    <h4 th:text="'Status: ' + (${user.isActive} ? 'Active' : 'Inactive')"></h4>
                </div>

                <!-- Кнопка выхода со стилем проекта -->
                <div class="d-flex align-items-center mt-3">
                    <form th:method="post" th:action="@{/sign/out}" class="mr-2">
                        <button type="submit" class="btn btn-secondary btn-lg">Sign Out</button>
                    </form>
                    <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-secondary btn-lg" style="margin-left: 30px;">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>