<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <h1 class="text-center text-dark mt-5">All Users:</h1>
                <div th:each="u : ${allUsers}" class="d-flex flex-column bg-text mb-3">
                    <h4 th:text="'Username: ' + ${u.username}"></h4>
                    <h4 th:text="'Name: ' + ${u.firstName} + ' ' + ${u.lastName}"></h4>
                    <h4 th:text="'Role: ' + ${u.role} + ( ${u.isActive} ? ' (Active)' : ' (Inactive)' )"></h4>
                    <h6><a class="btn-block" th:href="@{/users/edit/{id}(id=${u.id})}">Update</a></h6>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>