/* Общие стили */
body, h1, h2, button, input {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 30px;
    position: relative; /* Для позиционирования кнопки входа */
}

button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

/* Кнопка входа */
.sign-in-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Стили для блоков с популярными брендами и моделями */
.popular-brands, .popular-models {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px; /* Добавлено для отступа от кнопки */
}

.popular-brands .scrollable-list, .popular-models .scrollable-list {
    height: 200px;
    overflow-y: auto;
}

/* Стили для списков */
.popular-brands ul, .popular-models ul {
    padding: 0;
    margin: 0; /* Сброс стандартных отступов */
}

.popular-brands li, .popular-models li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    list-style-type: none;
}

/* Стили для заголовков блоков */
.popular-brands h2, .popular-models h2 {
    text-align: left;
    margin-bottom: 10px;
}

/* Кнопка 'Добавить предложение' */
.add-offer-button {
    display: block;
    width: max-content;
    margin: 20px auto; /* Центрирование кнопки */
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.offers-section {
    flex-basis: 55%;
    overflow-y: auto;
    height: 600px; /* Или другой размер в соответствии с макетом */
    border: 1px solid #ddd;
    margin-bottom: 10px;
    /* Добавьте другие стили по мере необходимости */
}

.offer {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
}

.offer-details {
    margin-left: 10px;
}

.edit-offer {
    margin-left: auto;
    /* Добавьте другие стили по мере необходимости */
}

.sidebar {
    flex-basis: 20%;
}

.sign-in-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.add-offer-button {
    display: block;
    margin: 10px auto;
}
.search-container {
    position: fixed; /* Фиксированное позиционирование */
    top: 0; /* В верху страницы */
    left: 50%; /* Отцентровка */
    transform: translateX(-50%); /* Смещение назад на 50% ширины элемента */
    z-index: 1000; /* Выше всех остальных элементов */
    margin-top: 70px; /* Небольшой отступ сверху страницы */
}


/* Адаптивность */
@media (min-width: 768px) {
    .search-section label,
    .search-section input,
    .search-section button {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }

    .search-section button {
        margin-top: 25px;
    }
}
